<!-- header -->
<header class="text-right text-sm text-gray-600 p-1">
  <!-- restart timer -->
  <fa-icon (click)="onReset()"
           [icon]="fasRedo"
           class="px-1">
  </fa-icon>

  <!-- show settings menu -->
  <fa-icon (click)="onShowSettingMenu()"
           [icon]="fasEllipsis"
           class="px-1">
  </fa-icon>
</header>

<!-- body -->
<body class="text-center text py-2">
  <!-- application name -->
  <h3 class="text-md font-semibold">
    Ease
  </h3>

  <!-- timer -->
  <section class="p-1">
    <h1 class="text-8xl font-thin">
      {{ minutes | number:'2.'}}:{{ seconds | number:'2.' }}
    </h1>
  </section>

  <!-- sessions -->
  <section class="text-xs p-1">
    <fa-icon [icon]="fasCircle"
             class="p-0.5">
    </fa-icon>

    <fa-icon [icon]="farCircle"
             class="p-0.5">
    </fa-icon>

    <fa-icon [icon]="farCircle"
             class="p-0.5">
    </fa-icon>

    <fa-icon [icon]="farCircle"
             class="p-0.5">
    </fa-icon>
  </section>

  <!-- action panel -->
  <section class="text-4xl p-1">
    <!-- play button -->
    <fa-icon (click)="onStart()"
             *ngIf="showPlayButton"
             [icon]="fasPlayCircle"
             class="text-green-600 px-1">
    </fa-icon>

    <!-- pause button -->
    <fa-icon (click)="onPause()"
             *ngIf="showPauseButton"
             [icon]="fasPause"
             class="text-green-600 px-1">
    </fa-icon>

    <!-- stop button -->
    <fa-icon (click)="onStop()"
             *ngIf="showStopButton"
             [icon]="fasStop"
             class="text-green-600 px-1">
    </fa-icon>
  </section>
</body>

<!-- footer -->
<footer class="p-1">
</footer>
