<!-- header -->
<header>
  <!-- restart timer -->
  <fa-icon [icon]="fasRedo" (click)="onRestartTimer()"></fa-icon>

  <!-- show settings menu -->
  <fa-icon [icon]="fasEllipsis" (click)="onShowSettingMenu()"></fa-icon>
</header>

<!-- body -->
<body>
  <!-- application name -->
  <h3>Ease</h3>

  <!-- timer -->
  <section>
    <h1>
      <!-- minutes -->
      <span>
        23
      </span>
      :
      <!-- seconds -->
      <span>
        47
      </span>
    </h1>
  </section>

  <!-- sessions -->
  <section>
    <fa-icon [icon]="fasCircle"></fa-icon>
    <fa-icon [icon]="farCircle"></fa-icon>
  </section>

  <!-- actions -->
  <section>
    <fa-icon [icon]="fasPlayCircle" (click)="onStartTimer()"></fa-icon>
    <fa-icon [icon]="fasPause" (click)="onPauseTimer()"></fa-icon>
  </section>
</body>

<!-- footer -->
<footer>

</footer>
